body{
		font-family: 'Cambria';

}

.nama{
	font-size: 120;
	font-family: News706 BT;
	vertical-align:top;
	letter-spacing: 23px;
	word-spacing: 25px;
}

.line {
	background: gold;
	width: 650px;
	height: 8px;
}
.garis{
	background: gold;
	width: 1450px;
	height: 8px;
}

.deskripsi{
	font-size: 18;
	font-family: Cambria;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 30px;
}

.subtitle{
	font-size: 85;
	font-family: Franklin Gothic Heavy;
	line-height: 100px;
	word-spacing: 2px;
	padding-left: 45px;
	padding-left: 30px;
}

.header{
	font-family: Cambria;
	word-spacing: 3px;
	color: black;
	letter-spacing: 1px;
	top:1px solid #000000; padding:5px; line-height: 40px;
	text-align:middle; background-color: #FFFFFF;
	padding : 20px;
	padding-right: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.header a: visited{
	color: gold;
}

.header a:hover{
	color: gold;
	font-weight: bold;
}
.leftlinks{
	font-family: Cambria;
	word-spacing: 3px;
	letter-spacing: 1px;
	border:1px solid #000000; padding:5px; width: 200px; line-height: 40px;
	text-align:middle; background-color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.leftlinks a{
	font-family: Cambria;
	word-spacing: 3px;
	letter-spacing: 1px;
	width: 200px; line-height: 40px;
	text-align:middle; background-color: black;
	color: #000000; text-decoration: none;
}
.leftlinks a:link{
	color: white;
}
.leftlinks a:visited{
	color: gold;
}
.leftlinks a:hover {
	font-family: Cambria;
	word-spacing: 3px;
	letter-spacing: 1px;
	border:1px solid #000000; padding:5px; width: 200px; line-height: 40px;
	text-align:middle; background-color: #000000;
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	}

.footer{
	text-decoration: none;
	color: none;
}

.footer a{
	text-decoration: none;
	font-style: none;
	font-family: Cambria ;
	color: none;
	font-size: 18;
	align-content: right;
	line-height: 0px;
	opacity: 0;
}

.footer a:link{
	color: none;
	opacity: 0;
}

.footer a:visited{
	color: none;
	opacity: 0;
}

.footer a:hover{
	text-decoration: none;
	font-style: none;
	font-family: Cambria ;
	color: none;
	opacity: 0;
}
.title{
	font-size: 90;
	font-family: Franklin Gothic Heavy;
	line-height: 100px;
	letter-spacing: 20px;
	padding-left: 45px;
}

.tahun{
	font-family: Cambria;
	font-size: 15px;
	line-height: 30px;

}
.sekolah{
	font-family: Cambria;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}

.kotak{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-color: black;
	border: 2px solid;
	padding: 15px;

}

.course{
	font-family: Cambria;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	padding: 20px;
	letter-spacing: 8px;
	background-color: gold;
}

.schedule{
	font-size: 18;
	font-family: Cambria;
	letter-spacing: 1px;
	word-spacing: 2px;
	padding-left: 32px;
}

.jabatan{
	font-family: Cambria;
	font-size: 23px;
	font-weight: bold;
	text-align: left;
	padding: 10px;
	padding-left: 20px;
	letter-spacing: 3px;
	word-spacing: 5px;
	background-color: gold;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.deks{
	font-size: 18;
	font-family: Cambria;
	letter-spacing: 1px;
	word-spacing: 2px;
	padding-left: 20px;

}

.kontakkiri{
	font-family: Cambria;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 6px;
	vertical-align: middle;
	width: 200px;
}

.kontakkanan{
	font-size: 20;
	font-family: Cambria;
	letter-spacing: 1px;
	word-spacing: 2px;
	padding : 20px;
	border-spacing: 10px;
	width: 200px;
}
